.btn {
    width: 100%;
    margin: 10px 0;
    border: 1px solid transparent;
    background-image: var(--clr-primary-100);
    border-radius: 5px;
    padding: 10px;
    color: var(--clr-secondry-100);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .4s;

    &:hover {
        border: 1px solid hsl(237, 63%, 64%);
        background-image: none;
        color: var(--clr-secondry-400);
        background-color: transparent;
    }

    &.btn-white {
        background-color: var(--clr-secondry-100);
        background-image: none;
        color: hsl(237, 63%, 64%);
        &:hover {
            background-color: transparent;
            border: 1px solid var(--clr-secondry-100);
            color: var(--clr-secondry-100);
        }
    }
}
