$colors: (
    primary: (
        100: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%))
    ),
    secondry: (
        100: hsl(240, 78%, 98%),
        200: hsl(234, 14%, 74%),
        300: hsl(233, 13%, 49%),
        400: hsl(232, 13%, 33%),
    )
)